.hourly-card {
  display: flex;
  flex-direction: column;
}

.hourly-card-hour {
  text-align: center;
}

.hourly-card-icon {
  width: 70%;
  margin: auto;
}

.hourly-card-temp {
  text-align: center;
}

.daily-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.daily-card-icon {
  width: 5%;
  margin: 6px;
}

.daily-card-day {
  width: 100px;
}