.current-container {
  width: 500px;
  margin: auto;
}

.current-subcontainer {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 3em;
  margin: 10px 0;
  text-transform: capitalize;
}

.to-upper-case {
  text-transform: uppercase;
}

.current-date {
  margin: 0;
}

.current-temp {
  font-size: 6em;
  margin: 0 0 20px;
}

.current-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-condition {
  text-align: center;
  width: 120%;
  margin: 10px 0;
}

.current-condition-icon {
  width: 120%;
  margin-bottom: -8px;
  float: right;
}

.current-condition-summary {
  margin: 0 auto 50px;
  width: 500px;
}

.current-temp-data {
  display: flex;
}

.current-high-low {
  padding-top:70px;
}

.current-high-temp, .current-low-temp {
  margin: 0;
}