.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(5, 32, 74, .1);
  }

.header-container img {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

.header-search {
  color: #fff;
}

.header-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  margin: 10px 20px;
  color: #fff;
  display: inline-block;
}

.header-search form {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 50px;
  margin-right: 20px;
  padding: 7px;
}

.header-search input {
  border: none;
  padding: 5px 10px 5px;
  font-size: 1.25em;
  background-color: inherit;
  width: 250px;
  color: #fff;
}

.header-search input::placeholder {
  color: #fff;
}

.header-search input:focus {
  outline: none;
}

.header-search button {
  border: none;
  height: 33px;
  width: 33px;
  background-color: inherit;
  margin-right: 15px;
}

.header-search button:hover {
  pointer-events: cursor;
}

.header-search button:focus {
  outline: none;
}

.hide {
  display: none;
}