/*.hourly-title, 
.hourly-city,
.hourly-card-container {
  text-align: center;
}*/

.hourly-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
 

}

.hourly-title {
  text-align: center;
 
}