.search-form-container {
  display: grid;
  width: 350px;
  margin: auto;
}

.search-instructions {
  color: #fff;
  text-align: center;
  font-size: 1.75em;
  margin: 150px 0 50px;
  font-family: 'Open Sans', sans-serif;
}

.search-input {
  height: 40px;
  border: none;
  font-size: 1.75em;
  padding: 7px 12px;
  font-family: 'Open Sans', sans-serif;
}

.search-input:focus {
  outline: none;
}

.search-button {
  height: 56px;
  border-radius: 50px;
  margin: 20px 0 50px;
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.15em;
  padding: 10px 40px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.search-button:hover {
  border-width: 2px;
  font-weight: bold;
}

.search-button:focus {
  outline: none;
}


