.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/welcome.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.welcome-header {
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 6em;
  text-align: center;
  margin: 40px 0 80px;
}

.welcome-search {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.welcome-search p {
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  margin: 150px 0 50px;
}

.welcome-search form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 30px auto;

  }

.welcome-search input {
  height: 40px;
  border: none;
  font-size: 1.75em;
  padding: 7px 12px;
}

.welcome-search button {
  height: 56px;
  border-radius: 50px;
  margin: 20px 0 50px;
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.15em;
  padding: 10px 40px;
  text-transform: uppercase;
}

.welcome-search button:hover {
  border-width: 2px;
  font-weight: bold;
}

.welcome-search button:focus {
  outline: none;
}