.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/welcome.jpg');
  height: 100vh;
}

.welcome-header {
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 150px;
  text-align: center;
  margin: 50px 0;
}